<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("pages/header")%>
    <h2>welcome, <%= user.name%></h2>
    <h3>your email: <%= user.email%></h3>

    <ul>
        <% user.skills.forEach((item)=>{%>
        <li><%= item %></li>
        <% })%>
    </ul>
    
</body>
</html>